input {
	width: 50px;
}
.title{
	margin-left:250px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
	margin-top:50px;
	margin-left:300px;
	width:500px;
}
.title{
	width:800px;
}
span{
	margin:20px 20px;
	width:300px;
}
button{
	margin-left:10px;
}
td,
th {
	padding: 0;
}
table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
} 
table td,table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}
table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
 
table td {
    background-color: transparent;
}