/* 常用初始化样式 */
body{
	max-width: 540px;
	min-width:320px;
	margin: 0 auto;
	font:normal 14px/1.5 Tahoma,"lucida grande",Verdana,"microsoft yahei",stxihei,hei;
	color:#000;
	background: #f2f2f2;
	overflow-x:hidden;
	-webkit-tap-highlight-color: transparent;
}
.search-index{
	display: flex;
/* 	固定定位和父级没有关系,它以屏幕为准; */
	position:fixed;
	top:0;
	left:50%;
/* 	固定的盒子应该有高度 */
	transform: translateX(-50%);	/* 相对于盒子自身宽度来说的 */
	-webkit-transform: translateX(-50%);
	width:100%;
	min-width:320px;
	max-width:540px;
	height:44px;
	background-color: #46418B;
	flex-direction: row-reverse; 
}
.search{
	flex = 1;
}
.user{
	width:44px;
	height:44px;
	background-color: #F9FFD7;
	
}